<% provide(:title) do %>
  <%= @red.cliente.nombre %> -
  <%= @red.nombre %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Tipo</th>
      <td><%= @red.tipo %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Token</th>
      <td>
          <div id="token"><%= @red.token%> </div>
      </td>
    </tr>
    <tr>
      <th class="col-sm-2">Nombre</th>
      <td><%= @red.nombre %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Nombre display</th>
      <td><%= @red.nombre_display %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Cliente</th>
      <td><%= @red.cliente.nombre %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Posts", cliente_red_posts_path(@red.cliente, @red), class: "btn btn-success" %>
  <%= link_to "Editar", edit_red_path(@red), class: "btn btn-primary" %>
  <%= link_to "Atrás", :back, class: "btn btn-link" %>
</p>
