<%= bootstrap_form_for(@post) do |f| %>
  <%= f.alert_message "Han ocurrido los siguientes problemas:" %>
  <%= f.datetime_select :hora_pub %>
  <%= f.text_field :titulo %>
  <%= f.text_field :texto %>
  <%= f.number_field :publicado, min: 0, max: 1 %>
  <%= f.file_field :imagen, label: "Subir imagen para el post" %>
  <%= f.text_field :red_id,id:'redid' %>
  <div class="contenedor-selector">
    <% @redes.each do |red| %>
      <div class="selector-redes" >
         <div >
           <%= red.nombre %>
           <span><%= red.id %></span>
         </div>
      </div>
    <% end %>
  </div>
  <%= f.check_box :approved, label: "Aprobado" %>
  <%= f.primary %>
  <%= link_to "Atrás", posts_path, class: "btn btn-link" %>
<% end %>
