<% provide(:title, "Lista de posts") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hora pub</th>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Publicado</th>
      <th>Red</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.hora_pub %></td>
        <td><%= post.titulo %></td>
        <td><%= post.texto %></td>
        <td><%= post.publicado %></td>
        <td><%= post.red.nombre %></td>
        <td>
          <div class="btn-group">
            <%= button_to "/post_test/#{post.id}", class: "btn btn-xs btn-success" do %>
              <%= fa_icon("share", text: "") %>
            <% end %>
            <%= link_to post, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Ver") %>
            <% end %>
            <%= link_to edit_post_path(post), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Editar") %>
            <% end %>
            <%= link_to post, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de eliminar este post?" } do %>
              <%= fa_icon("trash-o", text: "Eliminar") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_post_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "Nuevo Post") %>
<% end %>
