<% provide(:title) do %>
  Post #<%= @post.id %> -
  <%= @post.titulo %>
<% end %>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Hora pub</th>
      <td><%= @post.hora_pub %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Titulo</th>
      <td><%= @post.titulo %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Texto</th>
      <td><%= @post.texto %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Imagen</th>
      <% if @post.imagen.attached? %>
      <td><%= image_tag @post.imagen %></td>
        <!-- TODO: Usar variants -->
        <!-- <td><%= image_tag @post.imagen.variant(resize: "300x300") %></td> -->
      <% end %>
    </tr>
    <tr>
      <th class="col-sm-2">Publicado</th>
      <td><%= @post.publicado?? 'Sí' : "No" %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Aprobado</th>
      <td><%= @post.approved? ? 'Sí' : "No" %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Red</th>
      <td><%= @post.red.nombre %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= button_to "/post_test/#{@post.id}", class: "btn btn-xs btn-success" do %>
    <%= fa_icon("share", text: "Postear") %>
  <% end %>
  <%= link_to "Editar", edit_post_path(@post), class: "btn btn-primary" %>
  <%= link_to "Atrás", posts_path, class: "btn btn-link" %>
</p>
